[DEVICE]
Name=MK64FN1M0XXX12
Clock=120000000
[BUILD_TYPE]
Value=0
[FILES]
Count=1
File0=Click_OBD_II_KINETIS.c
[HEADERS]
Count=2
File0=Click_OBD_II_config.h
File1=Click_OBD_II_types.h
[PLDS]
Count=1
File0=Click_OBD_II.pld
[Useses]
File0=UART
File1=Conversions
File2=C_String
File3=OBD_II_MK_M4
File4=docking_station_HEXIWEAR
File5=//SPI
File6=//I2C
File7=C_Stdlib
Count=8
